<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="МенеджерПлагинов" file="src/core/Классы/МенеджерПлагинов.os"/>
    <class name="МенеджерСинхронизации" file="src/core/Классы/МенеджерСинхронизации.os"/>
    <class name="ПакетнаяСинхронизация" file="src/core/Классы/ПакетнаяСинхронизация.os"/>
</package-def>